.box{
	min-height: 100px;
	background-color: black;
}

.blog{
	margin-bottom: 10px;
}
.blog1{
	margin-top: 30px;
}
.blog3{
	background-color: #ADD8E6;
	margin-top: 45px;
	padding-bottom: 50px;
}
.blog3 container{
margin-bottom: 30px;
}
}
.blog3 h2{
	

}
.blog3 container row{
	margin-top: 30px;
}
